<%content_for :page_title do%>
	- Cases
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "internas" %>
	<%=stylesheet_link_tag "cases" %>
<%end%>

<div id="Header">
	<div id="Titulo"><%=image_tag "titulos/cases.png"%></div>
</div>	

<div id="Content">
	<table width="560" border="0" align="center">
  <tr>
    <td><%=link_to(image_tag("cases_img1.jpg"),"/obras?area=Obras%20Importantes")%> <%=link_to(image_tag("cases_img2.jpg"),"/obras?area=Obras%20Primas")%></td>
  </tr>
</table>
</div>

