<%content_for :page_title do%>
	- Encontre o Representantes mais próximo de você
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "internas" %>
	<%=stylesheet_link_tag "revendas" %>
<%end%>

<div id="Header">
	<div id="Titulo"><%=image_tag "titulos/representantes.png"%></div>
</div>	

<div id="Content">
	<%=render :file => "layouts/_noticias.html.erb"%>
	
	<div id="Texto">
		<div id="Parametros">
			<%=render :partial => "busca"%>
		</div>
		<%=flash[:msg]%>
		<div id="Lista">
			<%if !@Resultados.blank?%>
				<%@Resultados.each do |r|%>
					<div class="Item">
						<span class="Nome"><%=r.name%></span>
						<span class="Dados">
							<b>Estado:</b> <%=r.state%><br>
							<b>Região:</b> <%=r.region%><br>
							<b>E-Mail:</b> <%=r.email%><br>
							<b>Telefone:</b> <%=r.phone%>
						</span>
					</div>
				<%end%>
			<%else%>
				Não há representantes cadastrados neste estado
			<%end%>
		</div>
	</div>
</div>
